phillydb==0.2.1
# -e phillydb

Django==3.1.8
django-heroku==0.3.1
django-cors-headers==3.7.0
djangorestframework==3.12.2
django-nose==1.4.7
gunicorn==20.0.4
pandas==1.2.4
psycopg2==2.8.6
requests==2.25.1
simplejson==3.17.2
urllib3==1.26.4
whitenoise==5.2.0

# testing
pytest==6.2.4
pytest-cov==2.11.1
pytest-xdist==2.2.1
pytest-benchmark==3.2.3
pytest-profiling==1.7.0
pytest-django==4.3.0
coverage[toml]==5.5
