---
const isHome = Astro.url.pathname === '/'
---

<header
  class={`hidden sm:flex justify-between items-center p-4 text-xs md:text-sm lg:text-base ${isHome ? '' : 'border-b'}`}
>
  <div class="flex items-center gap-4">
    <a class="px-4 py-2 text-black visited:text-black" href="/">Search</a>
    <a class="px-4 py-2 text-black visited:text-black" href="/neighborhoods">Neighborhoods</a>
  </div>
  {
    !isHome && (
      <a href="/" class="text-bold text-2xl text-emerald-800">
        Who Owns Philly?
      </a>
    )
  }
  <div class="flex items-center gap-8">
    <a
      class="whitespace-nowrap rounded-lg bg-emerald-700 px-4 py-2 font-bold text-white visited:text-white"
      style="color: white;"
      href="/take-action">Take Action</a
    >
    <a class="text-black visited:text-black" href="/about">About</a>
  </div>
</header>
<header class={`sm:hidden justify-between items-center p-2 text-xs ${isHome ? '' : 'border-b'}`}>
  <div class="text-center">
    {
      !isHome && (
        <a href="/" class="text-bold text-sm text-emerald-800">
          Who Owns Philly?
        </a>
      )
    }
  </div>
  <div class="flex items-center gap-2">
    <a class="px-4 py-2 text-black visited:text-black" href="/">Search</a>
    <a class="px-4 py-2 text-black visited:text-black" href="/neighborhoods">Neighborhoods</a>
    <a class="whitespace-nowrap rounded-lg px-4 py-2 font-bold" href="/take-action">Take Action</a>
    <a class="text-black visited:text-black" href="/about">About</a>
  </div>
</header>
