---
const isHome = Astro.url.pathname === "/"
---
<header class={`hidden sm:flex justify-between items-center p-4 text-xs md:text-sm lg:text-base ${ isHome ? "" : "border-b"}`}>
    <div class="flex gap-4 items-center">
        <a class="px-4 py-2 text-black visited:text-black" href="/">Search</a>
        <a class="px-4 py-2 text-black visited:text-black" href="/neighborhoods">Neighborhoods</a>
    </div>
    { !isHome &&
            <a href="/" class="text-2xl text-bold text-emerald-800">Who Owns Philly?</a>    }
    <div class="flex gap-8 items-center">
        <a class="px-4 py-2 bg-emerald-700 rounded-lg text-white visited:text-white font-bold whitespace-nowrap" style="color: white;" href="/take-action">Take Action</a>
        <a class="text-black visited:text-black" href="/about">About</a>
    </div>
</header>
<header class={`sm:hidden justify-between items-center p-2 text-xs ${ isHome ? "" : "border-b"}`}>
    <div class="text-center">
        { !isHome &&
                <a href="/" class="text-sm text-bold text-emerald-800">Who Owns Philly?</a>    }
    </div>
    <div class="flex gap-2 items-center">
        <a class="px-4 py-2 text-black visited:text-black" href="/">Search</a>
        <a class="px-4 py-2 text-black visited:text-black" href="/neighborhoods">Neighborhoods</a>
        <a class="px-4 py-2 rounded-lg font-bold whitespace-nowrap"  href="/take-action">Take Action</a>
        <a class="text-black visited:text-black" href="/about">About</a>
    </div>
</header>