---
const isHome = true
---
<header class="flex justify-between items-center p-4 text-xs md:text-sm lg:text-base">
    <div class="flex gap-4 items-center">
        <a class="px-4 py-2" href="/">Search</a>
        <a class="px-4 py-2" href="/neighborhoods">Neighborhoods</a>
    </div>
    { !isHome &&
        <div class="text-2xl text-bold text-emerald-800">Who owns Philly?</div>
    }
    <div class="flex gap-4 items-center">
        <a class="px-4 py-2 bg-emerald-700 rounded-lg text-white font-bold" href="/take-action">Take Action</a>
        <a href="/about">About</a>
    </div>
</header>